<div class="errorbg" style="background-image: url(/images/error/error.png)"></div>
<div class="errorcontainer">
    <h1>OOPS</h1>
    <h2>Something went wrong</h2>
    <p>I'm <span>hopefully</span> working on it</p>
    <div class="contact_form_confirmation errorbtn">
        <a asp-controller="Net" asp-action="Index">
            <button>Back to startpage</button>
        </a>
    </div>
</div>